<div class="o-widget">

  {% if widget_title %}
    <div class="o-widget__title">{{ widget_title }}</div>
  {% endif %}

  <ul class="c-tags-list">
    {% assign tags = tags | join: ", " | split: ", " %}
    {%- for tag in tags -%}
      <li class="c-tags-list__item">

        <a class="c-tags-list__link" href="/blog/category/{{ tag | parameterize }}">
          {{ tag }}
        </a>{% unless forloop.last %}&#183;{% endunless %}

      </li>
    {%- endfor -%}

  </ul>

</div>
